<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>订单详情</h3>
    <h4>订单编号：</h4>
   
    <h5>基础模块：</h5>
         <ul>
           <li>我是基础模块</li>
         </ul>
     <h5>可选模块</h5>
         <ul>
           <li>我是可选模块</li>
         </ul>
     <h5>独立自模块</h5>
         <ul>
           <li>我是独立自模块的内容</li>
         </ul>

         <div>备注：敏行产品提供一年免费服务(5*8工作日服务),从颁发永久License开始计算。</div>
  </body>
</html>
